<div class = "container">
  <div class = "row-12 text-md-block text-center m-4">
    <h1>About</h1>
  </div>
  <div class = "row-12 text-md-block text-center">
     <p class "font-weight-bold">ながのCAKEは全国発送可能なケーキ屋さんです。<br/>
       お子様からお年寄りの方までお召し上がりいただけるよう、<br/>
       様々なバリエーションをご用意しております。<br/>
       また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br/>
       ぜひご注文ください。</p>
       <div><%= image_tag 'cake-shop.png', class: "h-25 w-25" %></div>
  </div>
</div>