<div class = "container">
  <div class = "row">
    <div class = "col-md-1"></div>
    <h4 class = "bg-light text-center my-4 ">注文履歴一覧</h4>
    
    <table class ="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
        </tr>
      </thead>
     
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= order.created_at %>
            </td>
            <td>
              <%= order.customer_id.last_name %><%= order.customer_id.first_name %>
            </td>
            <td>
              <%= order.order_details.amount %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
</div>